{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">ورود به سامانه</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        The username or password is incorrect.
                    </div>
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="id_username" class="form-label">نام کاربری</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_password" class="form-label">رمز عبور</label>
                        <input type="password" name="password" class="form-control" id="id_password" required>
                    </div>
                    
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-box-arrow-in-right me-1"></i>
                            login
                        </button>
                    </div>
                </form>
                <hr>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="{% url 'webaccounts:register' %}">Register</a></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}